body {
  /* background-image: linear-gradient(180deg, #eee, #fff 100px, #fff); */
  height: 100%;
}

.container {
  max-width: 960px;

}

.pricing-header {
  max-width: 700px;
}

iframe {
  overflow: scroll;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.card-img-top {
  align-items: center;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stripe-error-msg {
  color: rgb(165, 63, 0);
}

.table-fit{
  width:200px !important;;
  max-width:200px !important;;
  overflow-y:scroll !important;;
}

.scrollme {
  overflow-y: auto !important;
  /* width:200px !important;; */
}